<div class="page--user--details">
	<template v-if="users.loading">
		<p>Please wait, loading user list...</p>
	</template>
	<template v-else-if="users.error">
		<p v-text="String(users.error)"></p>
		<p v-if="users.error.error && users.error.error.message" v-text="users.error.error.message"></p>
		<pre v-if="'object' === typeof users.error" v-text="JSON.stringify(users.error, null, 2)" style="display: none;"></pre>
	</template>
	<template v-else-if="users.data">
		<h1>User #{{ id }}</h1>
		<p>
			Name: {{ users.data.data[id].name }}
		</p>
		<p>
			Age: {{ users.data.data[id].age }}
		</p>
		<router-link to="/">Back home</router-link>
	</template>
	<template v-else>
		<p>Users not loaded.</p>
		<p><a href="javascript:;" v-on:click="usersLoad">Click here to load the users</a></p>
	</template>
</div>
