<div class="app--pages--home">
	<h1>Home</h1>
	<router-link to="/about">Sobre</router-link>
	<p>Select a user</p>
	<ul>
		<li v-for="(user, id) in users">
			<router-link :to="{ name: 'user', params: { id }}">{{ user.name }}</router-link>
			- <button @click="showUserModal(id)">Details</button>
		</li>
	</ul>
	<dialog ref="modal" id="dialog">
		<div class="dialog-wrap">
			<div v-if="userId">
				<p>
					User #{{ userId }}
					<br>
					Name: {{ users[userId].name }}
				</p>
				<router-link to="/about">Go somewhere else</router-link>
				<br>
				<button @click="closeUserModal">Close</button>
			</div>
		</div>
	</dialog>
</div>
