<div class="app--pages--home">
	<h1>Home</h1>
	<router-link to="/about">Sobre</router-link>
	<template v-if="users.loading">
		<p>Please wait, loading user list...</p>
	</template>
	<template v-else-if="users.error">
		<p v-text="String(users.error)"></p>
		<p v-if="users.error.error && users.error.error.message" v-text="users.error.error.message"></p>
		<pre v-if="'object' === typeof users.error" v-text="JSON.stringify(users.error, null, 2)" style="display: none;"></pre>
	</template>
	<template v-else-if="users.data">
		<p>Select a user</p>
		<ul>
			<li v-for="(user, id) in users.data.data">
				<router-link :to="{ name: 'user', params: { id }}">{{ user.name }}, {{ user.age }}</router-link>
				- <button @click="showUserModal(id)">Details</button>
			</li>
		</ul>
		<dialog ref="modal" id="dialog">
			<div class="dialog-wrap">
				<div v-if="userId">
					<p>
						User #{{ userId }}
						<br>
						Name: {{ users.data.data[userId].name }}
						<br>
						Age: {{ users.data.data[userId].age }}
					</p>
					<router-link to="/about">Go somewhere else</router-link>
					<br>
					<button @click="closeUserModal">Close</button>
				</div>
			</div>
		</dialog>
	</template>
	<template v-else>
		<p>Users not loaded.</p>
		<p><a href="javascript:;" v-on:click="usersLoad">Click here to load the users</a></p>
	</template>
</div>
